#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 2em;
  line-height: 1.1;
  text-align: left;
}

button {
  min-width: 95px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  color: white;
  background-color: #016dfc;
  cursor: pointer;
}
button:hover {
  opacity: 90%;
}

button:active {
  border: none;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.inputs {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
  margin-bottom: 40px;
}

input {
  font-size: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  column-gap: 20px;
}

.label-text {
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 700;
}

.range-inputs {
  display: flex;
  column-gap: 10px;
}

.output {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: flex-start;
}

.color-container {
  width: 100%;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 6px;
}

.value-container {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  padding: 10px;
}

.output-container {
  display: flex;
  column-gap: 10px;
}
